$bg-white: #ffffff;
$box-shadow: rgba(55, 65, 81, 0.061);
$border: #dedfe1;
$text-gray: #374151;

.header-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.filter-box {
  margin: 4rem 0 4rem 0;
  background-color: $bg-white;
  border: 1px solid $border;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 1rem;
  box-shadow: 0px 1px 6px 0px $box-shadow;

  :first-child {
    a {
      border-radius: 5px 0 0 5px;
    }
  }

  :last-child {
    a {
      border-radius: 0 5px 5px 0;
    }
  }

  .filter-child {
    border-right: 1px solid $border;
    text-align: center;
  }

  .filter-child:last-child {
    border: none;
  }

  a {
    color: $text-gray;
    display: block;
    padding: 1.6rem 2rem;
  }
}

input {
  background-color: $bg-white;
  padding: 1.8rem 2rem;
  border: 1px solid $border;
  border-radius: 1rem;
  box-shadow: 0px 1px 6px 0px $box-shadow;

  &::placeholder {
    padding: 1rem 0 1rem 0;
    font-size: 1.6rem;
  }
}

@media (max-width: 850px) {
  .header-filter {
    flex-direction: column;
    align-items: initial;
  }

  .filter-box {
    margin: 2rem 0 1rem 0;
    flex-direction: column;
    width: 100%;

    .filter-child {
      border-right: none;
      border-bottom: 1px solid $border;
      width: 100%;
    }
  }

  .filter-box {
    :first-child {
      a {
        border-radius: 5px 5px 0 0;
      }
    }

    :last-child {
      a {
        border-radius: 0 0 5px 5px;
      }
    }
  }

  input {
    width: 100%;
    display: block;
  }
}
