html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 102rem;
  margin: 6rem auto;
  padding: 2rem;
  background-color: #f3f4f6;
  color: #111827;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 4.8rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #374151;
}

a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #3b82f6;
  text-decoration: none;
}
